/* Resets */

html, section, li, a, ul, body, h1, h2, p{
	font: inherit;
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "FontAwesome", "Droid Sans", "HelveticaNeue", "Helvetica", sans-serif;
}

/* Defaults */

ul {
	list-style: none;
}

body {
	color: #000;
	font-size: 20px;
}

img {
	display: block;
}

p {
	line-height: 25px;
}

h2 {
	font-size: 45px;
	font-weight: bold;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}

/* Navbar */

.nav-wrapper {
	height: 84px;
	margin-top: 20px;
	/*margin-bottom: 20px;*/
}

.navbar-wrapper {
	position: relative;
	margin-top: 20px;
	/*margin-bottom: 20px;*/
	color: white;
	width: 100%;
}

.navwrapper {
	margin: auto auto;
	max-width: 1000px;
}

.header {
	margin: auto auto;
	display: block;
	border-radius: 5px;
	background-color: #AD74A8;
}

.header ul {
	margin-left: 10px;
	margin-right: 10px;
}

.header li {
	float: left;
}

.header a {
	display: block;
	padding: 20px;
}

.header a:hover{
	background-color: #74276D;
	text-decoration: none;
}

.header a:active, .header .active > a {
	background-color: #3A0035;
}

/* Sections */


	/* Top */

.cover {
	background-color: #313A75;
	padding-top: 80px;
	color: white;
	width: 100%;
	position: relative;
	display: block;
	height: 500px;
}

.picture > img {
	float: right;
  height: 350px;
}

.section-title-wrapper {
	margin: auto auto;
	width: 730px;
	height: 350px;
	display: block;
	text-align: center;
}

.description {
	float: left;
	display: block;
	max-width: 418px;
}

.name-title {
	font-size: 60px;
	line-height: 70px;
	margin: auto auto;
	margin-bottom: 40px;
}

.name {
	font-weight: bold;
}

.description > p {
	margin-bottom: 20px;
	letter-spacing: 1px;
}

	/* Who Am I */

.whoami {
	margin: auto auto;
	padding: 50px 5%;
	background-color: #116416;
	color: #fff;
}


.iam {
	display: block;
	margin: auto auto;
	margin-top: 40px;
	width: 1000px;
}

.iam > h2 {
	display: block;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.iam > div {
	float: left;
	width: 450px;
}

.iam p {
	margin: auto auto;
	letter-spacing: .5px;
	margin-bottom: 10px;
}

.iam .picture {
	width: 500px;
	float: right;
}
.iam > .picture > img {
	width: 500px;
}

.picture p {
	float: right;
	font-size: 16px;
}

/* Portfolio	*/

.github {
	display: block;
	padding: 10px 10px;
	margin: auto auto;
	text-align: center;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
}

a.github:hover {
	color: #ccc;
}

a.github:active {
	color: #aaa;
	background: #080F3A;
	box-shadow: 0 0 4px 3px rgba(0,0,0,.4);
}

.github > p {
	text-align: left;
}

.slidee  a {
	color: #FFB41F;
}

.portfolio-wrapper {
	background: #182157;
	padding: 20px 5%;
	margin: auto auto;
	color: white;
}

.portfolio {
	width: 1000px;
	margin: auto auto;
}

.portfolio > p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.portfolio div {
	margin: auto auto;
}

.portfolio-items {
	display: block;
	margin: auto auto;
	margin-top: 50px;
}

.portfolio-item {
	float: center;
	margin: 20px 20px;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.4);
}

a.slider{
	display: block;
	padding: 20px;
	cursor: pointer;
}

a.slider:hover {
	background-color: #525B92;
	text-decoration: none;
}

a.slider:active {
	background-color: #525B92;
	text-decoration: none;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.4);
}

.slidee {
	padding: 20px;
}

.isHidden {
	display: none;
	overflow: hidden;
}

.isPortfolio {
	display: block;
	width: 80%;
}

.portfolio .fontawesome {
	padding: 20px;
}

.fontawesome {
	margin: 10px;
}


.fontawesome {
	color: #fff;
}

.fontawesome:hover {
	color: #ccc;	
}

.fontawesome:active {
	color: #aaa;
	top: 1px;
}

/* Contact */

.contact-wrapper {
	display: block;
	margin: auto auto;
	background: #54A759;
	padding: 20px 5%;
	color: #fff;
}

.contact {
	max-width: 1000px;
	margin: auto auto;
	text-align: center;
}

.contact > a.fontawesome {
	text-decoration: none;
}

.contact > a.fontawesome > i {
	display: block;
	cursor: pointer;
	text-decoration: none;
	margin: 20px 20px;
	padding: 10px 10px;
}

.contact > .slidee {
	display: block;
	float: center;
	padding: 5px;
}

.contact > .isHidden {
	display: none;
	overflow: hidden;
}



/* Asteroids */

.asteroids-body {
  background: black;
  padding: 20px;
  width: 100%;
  height: 100%;
}
canvas.asteroids-game {
  display: block;
  margin: auto auto;
  margin-top: 20px;
  border: 1px dashed white;
}
.asteroids-contact a {
  color: green;
  text-decoration: none;
}
.asteroids-contact a:hover {
  text-decoration: underline;
}
.asteroids-body p {
  color: #fff;
  display: block;
  float: center;
  text-align: center;
}
section.asteroids-contact {
  float: right;
}