/* Resets */

html, section, li, a, ul, body {
	font: inherit;
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "FontAwesome", "HelveticaNeue", "Helvetica", sans-serif;
}

body {
	color: ;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}



.navbar-wrapper {
	margin: 10px auto;
	background: teal;
	color: white;
}

